* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}



/* 리셋 */

body {
    font-family: "Noto Sans KR", sans-serif;
}

/* 바디 전체에 폰트 적용 */

.wrap {
    background-color: rgb(122, 122, 255);
    width: 100%;
    color: black;

}

.top {
    background-color: bisque;
    width: 1800px;
    display: flex;
    margin: 0 auto;
    align-items: baseline;
    justify-content: space-between;
}

h1 {
    font-size: 50px;
}

.headline {
    width: 184px;

}

.headline>p {
    align-items: center;
    justify-content: center;
    letter-spacing: 10px;
}

.top-light {
    width: 80px;
}

.top .top-right {
    display: flex;

    margin: 0 auto;
}

.headline>span {
    width: 184px;
    letter-spacing: 10px;
}

.under-wrap {
    background-color: beige;
}